{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_lesson/password_form

    This template renders a password form for lesson access.

    Example context (json):
    {
        action: "/mod/lesson/view.php",
        cmid: 42,
        loginfailed: true,
        sesskey: "examplesesskey"
    }
}}
<form
    action="{{action}}"
    method="post"
    class="mt-5 mb-0 whitebutton hstack gap-2 justify-content-center vstack"
>
    <input type="hidden" name="id" value="{{cmid}}">
    <input type="hidden" name="sesskey" value="{{sesskey}}">
    {{#loginfailed}}
    <div class="alert alert-danger" role="alert" id="lesson-password-error">
        {{#str}}loginfail, lesson{{/str}}
    </div>
    {{/loginfailed}}
    <div class="mb-3 text-center">
        <label for="lesson-password" class="form-label">{{#str}}enterpassword, lesson{{/str}}</label>
        <input
            id="lesson-password"
            type="password"
            class="form-control"
            name="userpassword"
            autocomplete="off"
            required
            {{#loginfailed}} aria-invalid="true" aria-describedby="lesson-password-error" autofocus {{/loginfailed}}
        >
    </div>
    <div class="justify-content-center hstack gap-2">
        <button type='submit' name='backtocourse' class="btn btn-secondary">{{#str}}cancel{{/str}}</button>
        <button type="submit" class="btn btn-primary">{{#str}}continue{{/str}}</button>
    </div>
</form>
