{{! This could be used to extend or replace the standard cm/title }}
<div class="foo">
    {{< core_courseformat/local/content/cm/title }}
        There are no blocks in this template to replace.
    {{/ core_courseformat/local/content/cm/title }}
</div>
