{{< core_courseformat/local/content }}

{{$ core_courseformat/local/content/section }}
    {{> format_topics/local/content/section }}
{{/ core_courseformat/local/content/section }}

{{/ core_courseformat/local/content }}
