{{#summarytext}}
    {{! Add some extra classes here }}
    <div class="course-description-item summarytext mycustomtemplate example">
        {{! And here }}
        <div class="description-inner text-monospace">
            {{{summarytext}}}
        </div>
    </div>
{{/summarytext}}
