{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_folder/folder_empty

    TODO describe template folder_empty

    Example context (json):
    {
        'intro': 'Some description'
    }
}}
<div
    class="ps-2 d-flex flex-column"
    role="alert"
>
    {{#intro}}
    <div>{{{intro}}}</div>
    {{/intro}}
    <div class="icon-size-3 icon-no-margin">
        {{#pix}} f/folder, core {{/pix}}
        {{#str}} emptyfolder, mod_folder {{/str}}
    </div>
</div>
